<div><%= render 'users/user', user: @user %></div>
<% @user.posts.each do |post| %>
  <div class="post">
  <%= render 'post', post: post %>
  </div>
  <div class="comment">
  <% post.recent_comments.each do |comment| %>
    <%= render 'comment', comment: comment %>
    <% end %>
    </div>
  <% end %>
