/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user-card {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 3vw;
  height:min-content;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  width: 70vw;
  height: inherit;
  padding: 1.5vw;
  border: groove 2px;
  border-radius: 3px;
}

.user-info > h2 {
  font-size: 5vw;
}

.user-info > p {
  font-size: 2vw;
}

.user-card > img {
  width: 15vw;
  height:18vw;
}

.bio, .post {
  margin: 3vw;
  border: groove 2px;
  border-radius: 3px;
  padding-left: 1.5vw;
}

.all-posts {
position:absolute;
left: 42%;
border: groove 2px;
border-radius: 3px;
padding: 1.5vw;
cursor: pointer;
}

.react {
  display: flex;
  justify-content: flex-end;
  align-items:baseline;
  gap: 3vw;
  padding-right: 1.5vw;
  font-size: 2vw;
}